{% macro render_errors(errors) %}
  {% if errors %}
    <div>
      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  {{ field.label }}
  <div>
    {{ field }}
  </div>
  {{ render_errors(field.errors) }}
{% endmacro %}
