{% from "macros/fields.tmpl" import render_input_field %}
{% extends "shared/layout.tmpl" %}

{% block title %}Forgotten password{% endblock %}

{% block content %}
  <h3>Forgotten password</h3>
  <div class="form-group">Type in the email address you used when signing up and we'll send you a link to reset your password.</div>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.email) }}
    <input type="submit" class="btn btn-info">
  </form>
{% endblock %}
