{% from "macros/fields.tmpl" import render_text_field, render_checkbox_field, render_submit_field %}
{% extends "shared/layout.tmpl" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h3>Log in</h3>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ render_text_field(form.email, class="form-group") }}
    {{ render_text_field(form.password, class="form-group") }}
    {{ render_checkbox_field(form.remember_me) }}
    {{ render_submit_field(form.submit, class="btn btn-info") }}
  </form>
{% endblock %}
