{% from "macros/fields.tmpl" import render_input_field, render_password_field %}
{% extends "shared/layout.tmpl" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h3>Sign up</h3>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.username) }}
    {{ render_input_field(form.email) }}
    {{ render_password_field(form.password) }}
    <input type="submit" class="btn btn-info">
  </form>
{% endblock %}
