{% from "macros/fields.tmpl" import render_password_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <h3>Reset Password</h3>
  <div class="form-group">Please enter a new password</div>
  <form method="POST" id="reset-form">
    {{ form.hidden_tag() }}
    {{ render_password_field(form.password) }}
    {{ render_password_field(form.confirm) }}
    {{ render_submit() }}
  </form>
{% endblock %}
