{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h3>Log in</h3>
  <form method="POST" id='login-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.email) }}
    {{ render_password_field(form.password) }}
    {{ render_checkbox_field(form.remember_me) }}
    {{ render_submit() }}
  </form>
  <br>
  <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
{% endblock %}
