{% extends "shared/layout.tmpl" %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
  <h3>Password reset instructions sent</h3>
  An email is on its way to {{ user_email }} with instructions on how to reset your password. Feel free to request a new password again if you do not receive an email within the hour.
{% endblock %}
