Thanks for signing up! You must follow this link to activate your account:

Have fun, and don't hesitate to contact us with your feedback.

- The flask-skeleton Team
http://flask-skeleton.herokuapp.com/
