<p>Hi,</p>
<p>We received a request to reset the password for your Flask-Skeleton account. If you don't want to change your password, please ignore this email.
</p>

<p>If you want to reset your password, please click on the following link (or copy and paste it into your web browser):</p>

<p><a href="{{ reset_link }}">{{ reset_link }}</a></p>

<p>The link takes you to a secure web page where you can set a new password of your choosing.</p>

<p>The link will expire in 24 hours.</p>
<p>Best regards,<br>
 - The Flask-Skeleton Team<br>
  {% set home_url = url_for("public.index", _external=True) %}
  <a href="{{ home_url }}">{{ home_url }} </a>
</p>
