<a href="{{ url_for('main.index') }}">Index</a>
{% if current_user.is_anonymous() %}
  <a href="{{ url_for('auth.login') }}">Login</a>
{% else %}
  <a href="{{ url_for('auth.logout') }}">Logout</a>
{% endif %}
