{% macro emit_css(bundle) %}
  {% assets bundle %}
    <link rel="stylesheet" href="{{ ASSETS_URL }}">
  {% endassets %}
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Flask App</title>
    {{ emit_css("css_all") }}
    {% block styles %}
      {# template-specific styles which are not included in bundle go here #}
    {% endblock %}
  </head>
  <body>
    <div class="header">
      {% include "shared/header.tmpl" %}
    </div>
    <div class="container">
      {% include "shared/flash.tmpl" %}
      <section class="main">
        {% block content %}
          {# page content goes here #}
        {% endblock %}
      </section>
    </div>
    {% block scripts %}
      {# template-specific scripts which are not included in bundle go here #}
    {% endblock %}
  </body>
</html>
