{% extends "shared/layout.tmpl" %}

{% block title %}Internal Error{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>Whoops</h1>
        <p>Sorry, something went wrong on our system. Don't panic, we are fixing it! Please try again later.</p>
    </div>
</div>
{% endblock %}
